<div class="col-xs-12" ttcms-fixed-top>
    <div class="navbar navbar-default navbar-subfixed-top">
        <button class="btn btn-warning pull-right" ng-disabled="exceededLimit(selected.length)" ng-click="saveOrder()" ng-show="pendingSave || droppedLength != pageContentImages.length">{{saveButtonText()}}</button>
        <h2>{{title}}</h2>
        <div ng-show="maximumImages != null && exceededLimit(selected.length)">
            <span class="text-danger">Maximum of {{maximumImages}} images allowed.</span>
        </div>
        <ul dnd-list="selected"
            dnd-drop="dropCallback(event, index, item)"
            class="list-inline selected-images">
            <li ng-repeat="img in selected"
                dnd-draggable="img"
                dnd-moved="selected.splice($index, 1)"
                dnd-effect-allowed="move">
                <figure>
                    <img ng-src="../{{img.thumbnail}}" />
                    <figcaption>{{img.alt}}</figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <div>
        <ul dnd-list="pageContentImages" class="available-images list-inline">
            <li ng-repeat="img in pageContentImages"
                dnd-draggable="img"
                dnd-moved="pageContentImages.splice($index, 1)"
                dnd-effect-allowed="move">
                <figure>
                    <img ng-src="../{{img.thumbnail}}" />
                    <figcaption>{{img.alt}}</figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>