@model DexCMS.Base.Mvc.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-box", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "")

    <div class="form-item">
        <span class="form-lbl">Enter your email</span>
        <div>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-btn">
            <input type="submit" value="Email Link" />
    </div>
}
