
@if (System.Web.Configuration.WebConfigurationManager.AppSettings["ShowRegisterDemoLink"] == "true")
{
    <p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
    </p>
}
