@model DexCMS.Base.Mvc.Models.SendCodeViewModel

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl },
                FormMethod.Post, new { @class = "form-box", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-item">
        <span class="form-lbl">Two Factor Provider</span>
        <div>
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
        </div>

    </div>
    <div class="form-btn">
        <input type="submit" value="Submit" />
    </div>
}

